.logo-bar {
  padding-top: 46px;
  padding-bottom: 46px;
}

.logo-bar__container {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.logo-bar__container div img {
  width: 100%;
  height: auto;
}
