.services__container {
  display: flex;
  justify-content: space-between;

  padding-top: 42px;
  padding-bottom: 42px;
}

.services__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  margin: 64px 42px;
}

.services__option img {
  margin-bottom: 30px;

  width: 124px;
  height: auto;
}

.services__option h2 {
  font-size: 27px;
  font-weight: 600;
}

.services__option p {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
