.testimonial {
  padding-top: 42px;
  padding-bottom: 42px;
}

.testimonial__container h2 {
  margin-bottom: 42px;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 24px;
}
